.optionList {
    list-style: none;
    width: 50%;
    margin: auto;
}

.optionItem {
    padding: 10px;
    background-color: darkcyan;
    margin: 10px;
    color: white;
    font-weight: bold;

}

.optionItemLink {
    text-decoration: none;
}